<div class="top-row">
        <section id="Consultation" aria-labelledby="consultation-title" class="consultation-section">
          <h2 id="consultation-title">Horaires prévisionnels des bus</h2>
          <p>Consultez les prochains départs de Bus</p>
        </section>

        <section id="Infos-Trains" aria-labelledby="infos-trains-title" class="infos-trains-section">
          <img src="Logo/Bus.png" alt="Logo - Bus Lignes" class="infos-trains-logo">
          <h1 class="infos-trains-title">Bus</h1>
        </section>
</div>