<footer>
    <div>
        <p>Fréquentation</p>
        <img src="FrontEnd/Logo/Frequentation100.png" alt="Logo - Frequentation 100" class="TableauLignesBus">
        <img src="FrontEnd/Logo/Frequentation80.png" alt="Logo - Frequentation 80" class="TableauLignesBus">
        <img src="FrontEnd/Logo/Frequentation60.png" alt="Logo - Frequentation 60" class="TableauLignesBus">
        <img src="FrontEnd/Logo/Frequentation40.png" alt="Logo - Frequentation 40" class="TableauLignesBus">
        <img src="FrontEnd/Logo/Frequentation20.png" alt="Logo - Frequentation 20" class="TableauLignesBus">
    
    </div>
    <div>
        <img src="FrontEnd/Logo/T.png" alt="Logo - Heure Théorique" class="TableauLignesBus">
        <p>Heure théorique</p>
    </div>
</footer>