<!-- Header de l'application web -->
<header class="site-header">

      <!-- Titre du header -->
      <div class="brand" role="banner">
        <h1 class="site-title">Grand Périgueux Mobilités</h1>
      </div>

      <!-- Liste à puces non ordonnée affichant les logos-->
      <nav class="main-nav" aria-label="Navigation principale">
        <ul>
          <li><img src="Logo/Péribus.png" alt="Logo - Péribus" class="logo" /></li>
          <li><img src="Logo/Périmouv.png" alt="Logo - Périmouv" class="logo" /></li>
          <li><img src="Logo/LeGrandPerigueux.png" alt="Logo - Le Grand Périgueux" class="logo" /></li>
        </ul>
      </nav>

</header>