API_SNCF_KEY=<TOKEN donné par la SNCF>
SNCF_URL=<URL de l'api SNCF>
COVERAGE=<Coverage de l'API SNCF>
PORT=<Port de votre backend>
API_BASE=<URL publique de votre backend sans le port>

DB_HOST=<Adresse de la BDD>
DB_USER=<User de la BDD>
DB_PORT=<Port de la BDD>
DB_PASSWORD=<Mot de passe de la BDD>
DATABASE=<Nom de la BDD>
