<div class="top-row">
        <section id="Consultation" aria-labelledby="consultation-title" class="consultation-section">
          <h2 id="consultation-title">Horaires en temps réel</h2>
          <p>Consultez les prochains départs de train</p>
        </section>

        <section id="Infos-Trains" aria-labelledby="infos-trains-title" class="infos-trains-section">
          <img src="Logo/Train.png" alt="Logo - Train Lignes" class="infos-trains-logo">
          <h1 class="infos-trains-title">Trains</h1>
        </section>
</div>