<!-- Première Ligne de la section bus -->
<div class="top-row">
        <!-- Côté gauche -->
        <section id="Consultation" aria-labelledby="consultation-title" class="consultation-section">
          <h2 id="consultation-title">Horaires prévisionnels des bus</h2>
          <p>Consultez les prochains départs de Bus</p>
        </section>
        <!-- Côté droit -->
        <section id="Infos" aria-labelledby="infos-title" class="infos-section">
          <img src="Logo/Bus.png" alt="Logo - Bus Lignes" class="infos-logo">
          <h1 class="infos-title">Bus</h1>
        </section>
</div>