<!--Section des bus-->
<section id="prochains-departs" aria-labelledby="prochains-departs-title" class="departures-section">
        <article class="departures-list">
          <!-- Header du tableau -->
          <table class="departures-head" aria-hidden="true">
            <!-- Taille des header du tableau -->
            <colgroup>
              <col style="width:18%">
              <col style="width:14%">
              <col style="width:26%">
              <col style="width:18%">
              <col style="width:24%">
            </colgroup>
            <!-- Titre des header du tableau -->
            <thead>
              <tr>
                <th>Lignes</th>
                <th>Arrêts</th>
                <th>Destination</th>
                <th>Heures Départ</th>
                <th>Temps d'attente</th>
              </tr>
            </thead>
          </table>

          <!-- Taille des colonnes du tableau -->
          <div>
            <table class="departures-body" aria-describedby="prochains-departs-title">
              <colgroup>
                <col style="width:18%">
                <col style="width:14%">
                <col style="width:26%">
                <col style="width:18%">
                <col style="width:24%">
              </colgroup>

              <!-- 1ere ligne du tableau des bus-->
              <tbody id="bus-departures-body"></tbody>

            </table>
          </div>
        </article>
      </section>