<div class ="departures-list">
  <table class="departures-head" aria-hidden="true">
    <colgroup>
              <col style="width:18%">
              <col style="width:12%">
              <col style="width:18%">
              <col style="width:40%">
              <col style="width:12%">
    </colgroup>

        <thead>
            <tr>
                <th>Lignes</th>
                <th>Quais</th>
                <th>Durée</th>
                <th>Heure Départ/Arrivé</th>
                <th>Retard</th>
            </tr>
        </thead>
    </table>

    <table class="departures-body" aria-describedby="prochains-departs-title">
        <colgroup>
                <col style="width:18%">
                <col style="width:12%">
                <col style="width:18%">
                <col style="width:40%">
                <col style="width:12%">
        </colgroup>

        
        <tbody id="train-departures-body"></tbody>

    </table>
</div>
