<!-- Section des trains -->
<div class ="departures-list">
  <table class="departures-head" aria-hidden="true">
    <!-- Taille des headers du tableau-->
    <colgroup>
              <col style="width:21%">
              <col style="width:21%">
              <col style="width:36%">
              <col style="width:20%">
    </colgroup>

        <!-- Nom des headers du tableau-->
        <thead>
            <tr>
                <th>Lignes</th>
                <th>Durée</th>
                <th>Heure Départ/Arrivé</th>
                <th>Retard</th>
            </tr>
        </thead>
    </table>

    <table class="departures-body" aria-describedby="prochains-departs-title">
        <!-- Taille des colonnes du tableau -->
        <colgroup>
              <col style="width:21%">
              <col style="width:21%">
              <col style="width:40%">
              <col style="width:18%">
        </colgroup>

        <!-- Placeholder pour les lignes du tableau -->
        <tbody id="train-departures-body"></tbody>

    </table>
</div>
